body{
    background-color:darkgrey;

}
th ,td {
    border: solid black;
    text-align: center;
}

table{
    border-collapse: collapse;
}


.h1{
    background-color: #97D2EC;
}
.emb{position: sticky;
top:0;
margin-top:-10px;/*it sticks to top*/
    /*display: flex;*/
    /*justify-content: space-between;*/

}
